.preface {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.preface_right {
  width: 60%;
}
.uploadOuter {
  margin: 30px;
}
.stepTitle {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.button1 {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #4b56d2;

  color: white;
  font-weight: normal;
  font-size: 1.5rem;
  padding: 10px 2px;
  border: #4b56d2;
  cursor: pointer;
}
.panel {
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.panel button {
  margin-top: 400px;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #4b56d2;
  width: 20%;
  color: white;
  font-weight: normal;
  font-size: 1.5rem;
  padding: 10px 2px;
  border: #4b56d2;
  cursor: pointer;
}
