.preface {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.preface_right {
  width: 60%;
}
.uploadOuter {
  margin: 30px;
}
.stepTitle {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.customFile {
  margin: 30px;
}
.customFile input {
  background-color: #ffa500;
  font-size: 20px;
}
.uploadedImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.uploadedImage img {
  height: 400px;
  margin: 10px;
}
.panel {
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.panel button {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #ffa500;
  width: 20%;
  color: white;
  font-weight: normal;
  font-size: 1.5rem;
  padding: 10px 2px;
  border: #ffa500;
  cursor: pointer;
}
