.canvas {
  background-color: #ffd8a9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-wrap: wrap;
}
.first {
  color: #060047;
  font-weight: 900;
  font-size: 3rem;
}
.canvas_img img {
  object-fit: cover;
  width: 60%;
  margin: 15px 0px 10px 0px;
}
.canvas_quote {
  margin: 15px 0px;
  font-weight: 400;
  color: #060047;
  font-size: 1.3rem;
  font-style: italic;
}
.finalStart {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.finalStart button {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #ffa500;
  width: 60%;
  color: white;
  font-weight: normal;
  font-size: 1.5rem;
  padding: 10px 2px;
  border: #ffa500;
  cursor: pointer;
}
.pretext {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.vector {
  height: 400px;
  width: 500px;
}
.boy {
  position: absolute;
  top: 500px;
  height: 350px;
  right: 200px;
}
.father {
  position: absolute;
  top: 500px;
  height: 350px;
  right: 360px;
}
.pretext_left {
  margin-left: 300px;
  margin-top: 50px;
}
.pretext_zero {
  color: #2278d4;
  font-weight: bold;
  font-size: 20px;
  padding: 4px 0px;
}
.pretext_one {
  padding: 4px 0px;
  color: #191b21;
  font-size: 35px;
  font-weight: bolder;
  width: 50%;
  text-justify: inter-word;
}
.pretext_content {
  margin-top: 30px;
  width: 50%;
  font-weight: light;
}
.btn {
  margin: 30px 0px;
  background-color: green;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
}
